#ignore hidden files in any  directory (file without names)
.*
/*

#keep the git ignore file
!/.gitignore
!/MyJava
!/MyPython

#ignore directories have names below:
RemoteSystemsTempFiles/
bin/
dataset/
